.Logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  /* change to bord-box so that the 80% height auto includes the padding */
  box-sizing: border-box;
}

.Logo img {
  height: 100%;
}
